@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* index.css or your style file */
.film-square {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.film-img {
  object-fit: cover;
  object-position: left top;
  transform-origin: top left;
}